* {
	padding: 0px;
	margin: 0px;
}
a:link{
	font-size:9pt;
	color:#000000;
	text-decoration:none;
	font-family:""ו"";
}
a:visited {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	font-family: ""ו"";
}
.head {
	width: 100%;
	height: 66px;
	overflow: hidden;
	z-index: 8;
	position: relative;
}
.top {
	height: 37px;
	width: 100%;
	background: url(top_bg.jpg) left top repeat-x;
	overflow: hidden;
	clear: both;
}
.topnav {
	width: 100%;
	height: 29px;
	background: url(top_bg.jpg) left -37px repeat-x;
	overflow: hidden;
	clear: both;
}
.left {
	display: block;
	position: absolute;
	top: 66px;
	width: 160px;
	left: 0px;
	bottom: 0px;
	z-index: 7;
	padding-top: 8px;
	background: url(idnbg1.gif) repeat-y;
	height: 100%;
}
.sitemu li {
	padding: 0px 0px 0px 18px;
	line-height: 22px;
	background: url(arr4.gif) no-repeat 5px 9px;
}
.right {
	height: 100%;
	left: 161px;
	position: absolute;
	right: 0;
	top: 66px;
	bottom: 0px;
	z-index: 7;
}
.main iframe {
	height: 100%;
	width: 99.99%;
	z-index: 20;
}